
<div class='nav-bar-container'>
  <span class='nav-logo'>
    <img src='../public/images/logo/CU-info-center_white_med.png'>
  </span>
  <ul>

    <li><i class="fa fa-area-chart" aria-hidden="true"></i> General Information</li>
    <span class='nav-divider'>|</span>
    <li><i class="fa fa-area-chart" aria-hidden="true"></i> Insider Information</li>

    <li class='pull-right'><i class="fa fa-share" aria-hidden="true"></i> Contact us</li>
    <li class='pull-right'><i class="fa fa-user" aria-hidden="true"></i> Login</li>
  </ul>
</div>
