<div class="data">
<div class="row">
  <div class="col s4">
    <div class="card hoverable">
      <div class='card-image'>
        <img src="http://placehold.it/250x250">
      </div>
      <div class="card-content black-text">
        <p class="card-title">Native Students Statistics</p>
        <p>This is the visualisation of the data related Thai native students in Chulalongkorn University.</p>
      </div>
      <div class="card-action">
        <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
      </div>
    <!-- end card -->
  </div>
  </div>
  <div class="col s4">
    <div class="card hoverable">
      <div class='card-image'>
        <img src="http://placehold.it/250x250">
      </div>
      <div class="card-content black-text">
        <p class="card-title">Class Schedule Statistics</p>
        <p>This is the visualisation of classes taught in the last 10 years at Chulalongkorn University.</p>
      </div>
      <div class="card-action">
        <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
      </div>
    </div>
    <!-- end card -->
  </div>
  <div class="col s4">
    <div class="card hoverable">
      <div class='card-image'>
        <img src="http://placehold.it/250x250">
      </div>
      <div class="card-content black-text">
        <p class="card-title">Grade Statistics</p>
        <p>This is the visualisation of the data related to number of students in each faculty.</p>
      </div>
      <div class="card-action">
        <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
<div class="row">
  <div class="col s4">
    <div class="card hoverable">
      <div class='card-image'>
        <img src="http://placehold.it/250x250">
      </div>
      <div class="card-content black-text">
        <p class="card-title">Foreign Students Stats</p>
        <p>This is the visualisation of the data related to foreign students at Chulalongkorn University.</p>
      </div>
      <div class="card-action">
        <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
      </div>
    </div>
    <!-- end card -->
  </div>
  <div class="col s4">
    <div class="card hoverable">
      <div class='card-image'>
        <img src="http://placehold.it/250x250">
      </div>
      <div class="card-content black-text">
        <p class="card-title">Post Graduate Statistics</p>
        <p>This is the visualisation of the data related to graduates from Chulalongkorn University.</p>
      </div>
      <div class="card-action">
        <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
      </div>
    </div>
    <!-- end card -->
  </div>
  <div class="col s4">
    <div class="card hoverable">
      <div class='card-image'>
        <img src="http://placehold.it/250x250">
      </div>
      <div class="card-content black-text">
        <p class="card-title">Demographical Statistics</p>
        <p>This is the visualisation of demographical data of Chulalongkorn University students and other resources.</p>
      </div>
      <div class="card-action">
        <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
</div>

<!-- Template for import -->
<div class="import">
  <div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Import data to the database</p>
          <p>Select the visualisation you want to upload to the database.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end row 1 -->
  <div class="row">
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Native Students Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Class Schedule Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Grade Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row 2 -->
  <div class="row">
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Foreign Students Stats</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Post Graduate Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Demographical Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row 3 -->
</div>
<div class="export">
  <div class="row">
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <div class='card-image'>
            <img src="../public/images/preview_report.png">
          </div>
          <p class="card-title">Report #1</p>
          <p>Statistics of student. This report shows in-flow and out-flow of students for each year.</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Preview report</a>
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Select year</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <div class='card-image'>
            <img src="../public/images/preview_report.png">
          </div>
          <p class="card-title">Report #2</p>
          <p>Statistics of student. This report shows in-flow and out-flow of students for each year.</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Preview report</a>
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Select year</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <div class='card-image'>
            <img src="../public/images/preview_report.png">
          </div>
          <p class="card-title">Report #3</p>
          <p>Statistics of student. This report shows in-flow and out-flow of students for each year.</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Preview report</a>
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Select year</a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
