<div class="data">
  <div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class='card-image'>
        </div>
        <div class="card-content black-text">
          <p class="card-title">Subject Statistics</p>
          <p>This is the visualisation of the data related to subject grade.</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="card hoverable">
        <div class='card-image'>
        </div>
        <div class="card-content black-text">
          <p class="card-title">Foreign Students Stats</p>
          <p>This is the visualisation of the data related to foreign students at Chulalongkorn University.</p>
        </div>
        <div class="card-action">
          <a href="../api/getNumberStats/facs" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
        </div>
      </div>
      <!-- end card -->
    </div>
    <div class="col s4">
      <div class="card hoverable">
        <div class='card-image'>
        </div>
        <div class="card-content black-text">
          <p class="card-title">Faculty Statistics</p>
          <p>This is the visualisation of the data related to faculty from Chulalongkorn University.</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
        </div>
      </div>
      <!-- end card -->
    </div>
    <div class="col s4">
      <div class="card hoverable">
        <div class='card-image'>
        </div>
        <div class="card-content black-text">
          <p class="card-title">Demographical Statistics</p>
          <p>This is the visualisation of demographical data of Chulalongkorn University students and other resources.</p>
        </div>
        <div class="card-action">
          <a href="../api/getAllBioStats/55" class='pink-text text-lighten-2' id='show-import-manual'>See details</a>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</div>

<!-- Template for import -->
<div class="import">
  <div class="row">
    <div class="col s12">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Import data to the database</p>
          <p>Select the visualisation you want to upload to the database.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end row 1 -->
  <div class="row">
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Foreigners Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='upload-csv'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <form id='upl' method="post" enctype="multipart/form-data" action="/upload" style='display:none;'>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name='upl' id='upl-btn'>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type='submit'>upload</button>
    </form>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Faculty Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <p class="card-title">Grade Statistics</p>
        </div>
        <div class="card-action">
          <a href="#" class='pink-text text-lighten-2' id='show-import-manual'>Upload CSV file</a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row 2 -->

  <!-- end row 3 -->
</div>
<div class="export">
  <div class="row">
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <div class='card-image'>
            <img src="../public/images/preview_report.png">
          </div>
          <p class="card-title">Report #1</p>
          <p>Statistics of student. This report shows in-flow and out-flow of students for each year.</p>
        </div>
        <div class="card-action">
          <a href="../public/csv/bio.csv" class='pink-text text-lighten-2' id='show-import-manual'>Download report</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <div class='card-image'>
            <img src="../public/images/preview_report.png">
          </div>
          <p class="card-title">Report #2</p>
          <p>Statistics of subject's grade. This report shows in-flow and out-flow of grades in each subject.</p>
        </div>
        <div class="card-action">
          <a href="../public/csv/grade.csv" class='pink-text text-lighten-2' id='show-import-manual'>Download report</a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col s4">
      <div class="card hoverable">
        <div class="card-content black-text">
          <div class='card-image'>
            <img src="../public/images/preview_report.png">
          </div>
          <p class="card-title">Report #3</p>
          <p>Statistics of overseas student. This report shows in-flow and out-flow of foreigner of year 2015.</p>
        </div>
        <div class="card-action">
          <a href="../public/csv/overseas.csv" class='pink-text text-lighten-2' id='show-import-manual'>Download report</a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
