<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css" />
  <script type="text/javascript" src="./build/js/bundle.js" charset="utf-8"></script>
</head>
<body>
    <div class = "vc-child">
        <div class="col-lg-8 col-lg-offset-2" id="main-logo">
          <h1>CU Information Center</h1>
        </div>
        <div class="col-lg-6 col-lg-offset-3 centered">
          <button class="btn" id="login">Login</button>
          <button class="btn">Enter as Guest</button>
        </div>
    </div>
</body>
</html>
