<!DOCTYPE html>
<html>
<% include head-tag %>
<body>

  <div class ="app">
  </div>


  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
  <script type="text/javascript" src="../public/javascripts/graphs/circle.js" charset="utf-8"></script>
  <script type="text/javascript" src="./build/js/bundle.js" charset="utf-8"></script>
  
</body>
</html>
