<div class="lander-component">
  <div id="main-logo">
    <h1>CU Information Center</h1>
  </div>
  <div id='login-form'>
    <% include signin %>
  </div>
  <div class="centered">
    <button class="waves-effect waves-light btn pink lighten-1" id="login"><%= login %></button>
    <button class="waves-effect waves-light btn pink lighten-1">Enter as Guest</button>
  </div>
</div>
