<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="./bower_components/materialize/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css" />
</head>
<body>
  <div class = "app vc-child">
    <div class='main-component'>
      <div class="col-lg-12 clear-padding">
        <img src="../public/images/main/student.png" style="width:100%">
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="col-lg-2">
            <img src="../public/images/main/pragiew.png" class="img-responsive pragiew">
          </div>
          <div class="col-lg-10">
            <h1>
              <b>Chula Logo: </b> Pra-giew
            </h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor.
              Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
              Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus </p>
            </div>
          </div>
        </div>
        <div id='graph'>
        </div>
        <div class="row excerp-content">
          <div class="col-lg-3">
            <h4>Student</h4>
            <p>students graduate every year</p>

          </div>
          <div class="col-lg-3">Faculty</div>
          <div class="col-lg-3">Ranking</div>
          <div class="col-lg-3">Admission</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="./build/js/bundle.js" charset="utf-8"></script>
</body>
</html>
