<!DOCTYPE html>
<html>
<% include head-tag %>
<body>
  <div class = "app">
    <div class='main-component'>
      <%include _navbar%>
      <div class='main-content'>
        <div class="col s12">

          <div class="wrap">
            <div class='wrap-overlay'></div>
            <div class="caption">
              <div class="caption-inner">
                <div class="caption-content">
                  <div class='caption-text-head'>Data about Chulalongkorn
                  </div>
                  <div class='caption-text-context'>Visualized.</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row" style='padding:5px 0;'>
          <div class="col s8 offset-s2">
            <div class="col s5">

              <img src='../public/images/logo/chula-logo.png' style='width:100%; padding-top:20px;'>
            </div>
            <div class="col s7">
              <p class="text-justify">
                Is currently <span id='chula-age' style='font-size:25px;'></span> years old Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor.
                Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
                Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus
              </p>
            </div>
          </div>
        </div>

        <!-- start row example graph-->
        <div class="row excerp-content clear-margin white-text">

          <div class="col s3">
            <h5><b>Student</b></h5>
            <div class='circle' id='student-circle-graph'>
            </div>
            <span class='graph-description'>of student graduate each year</span>
            <div class='find-out-graph'>find out more</div>
          </div>

          <div class="col s3">
            <h5><b>Faculty</b></h5>
            <div id='faculty-bar-graph'>
            </div>
            <span class='graph-description'>Arts has highest average GPA of every faulty in Chula</span>
            <div class='find-out-graph'>find out more</div>
          </div>

          <div class="col s3">
            <h5><b>Admission</b></h5>
            <div id='admission-line-graph'></div>
            <span>2017 average admission score will be approximatly 19,782</span>
            <div class='find-out-graph'>find out more</div>
          </div>

          <div class="col s3">
            <h5><b>Ranking</b></h5>
            <div class='circle' id='ranking-circle-graph'></div>
            <span class='graph-description'>Thailand university ranking</span>
            <div class='find-out-graph'>find out more</div>
          </div>
        </div>
        <!-- end row example graph-->

        <!-- start highschool graph-->
        <div class="row clear-margin white-text">
          <div class="col s5 grey-bg padding-vertical" style='height:200px; position:relative;'>
            <span id='highschool-triangle'></span>
            <div class="col s8 offset-s2 centered">
              <h5><b>Top 5 highschools</b></h5>
              <p>Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. </p>
            </div>
          </div>
          <div class="col s7 clear-padding" style="color:black; height:200px;">
            <div id='highschool-bar-graph' class='fit-in'></div>
          </div>
        </div>
        <!-- end highschool graph-->

        <div class="row clear-margin quote-row">
          <div class="centered footer-etc">
            <span class='double-quote'>&#8220</span>
            Visualizations act as a campfire around which we
            gather to tell stories.
            <span class='double-quote'>&#8221</span>
            ―Al Shalloway
          </div>
        </div>
        <%include _footer%>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../public/javascripts/graphs/circle.js" charset="utf-8"></script>
<script type="text/javascript" src="./build/js/bundle.js" charset="utf-8"></script>
</body>
</html>
