<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="./bower_components/materialize/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/circle.css" />
</head>
<body>
  <div class = "app">
    <div class='main-component'>
      <div class='left-nav'>
        <ul>
          <li><img src='../public/images/icons/menu button.png'</li>
          <li><img src='../public/images/icons/login menu.png'</li>
          <li><img src='../public/images/icons/data menu.png'</li>
          <li><img src='../public/images/icons/Q&A menu.png'</li>
          <li><img src='../public/images/icons/mail menu.png'</li>
        </ul>
      </div>
      <div class='main-content'>
        <div class="col s12">
          <div class="wrap">
            <img src="../public/images/main/student.png" style="width:100%">
            <div class="caption">
              <div class="caption-inner">
                <div class="caption-content">
                  <h3>CHULA</h3>
                  <p>is currently 99 years old.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="col s2">
              <img src="../public/images/main/pragiew.png" class="img-responsive pragiew">
            </div>
            <div class="col s10">
              <h4>
                <b>Chula Logo: </b> Pra-giew
              </h4>
              <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor.
                Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.
                Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus
              </p>
            </div>
          </div>
        </div>
        <div class="row excerp-content clear-margin white-text">
          <div class="col s3 row-graph-example">
            <h5><b>Student</b></h5>
            <div class='circle-wp'>
              <div class='circle' id='student-circle-graph'>
              </div>
            </div>
            <span class='graph-description'>of student graduate each year</span>
          </div>
          <div class="col s3 row-graph-example">
            <h5><b>Faculty</b></h5>
            <div id='faculty-bar-graph'>
            </div>
            <span class='graph-description'>Arts has highest average GPA of every faulty in Chula</span>
          </div>
          <div class="col s3 row-graph-example">
            <h5><b>Ranking</b></h5>
            GRAPH
            <p>In Thailand university ranking</p>
          </div>
          <div class="col s3 row-graph-example">
            <h5><b>Admission</b></h5>
            GRAPH
            <p>2017 average admission score will be approximatly 19,782</p>
          </div>
        </div>
        <div class="row clear-margin white-text">
          <div class="col s6 grey-bg padding-vertical" style='height:200px; position:relative;'>
            <span id='highschool-triangle'></span>
            <div class="col s8 offset-s2 centered">
              <h5><b>Top 5 highschools</b></h5>
              <p>Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party. </p>
            </div>
          </div>
          <div class="col s6 clear-padding" style="color:black; height:200px;">
            <div id='highschool-bar-graph' class='fit-in'></div>
          </div>
        </div>
        <div class="row clear-margin white-text transparent-grey-bg padding-vertical">
          <div class="col s6 centered">#Chulalongkorn on social networks</div>
          <div class="col s6 centered">No information you're looking for?</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../public/javascripts/graphs/circle.js" charset="utf-8"></script>
<script type="text/javascript" src="./build/js/bundle.js" charset="utf-8"></script>
</body>
</html>
