
<div class="col-lg-8 col-lg-offset-2" id="main-logo">
  <h1>CU Information Center</h1>
</div>
<div class="col-lg-6 col-lg-offset-3 centered">
  <form action="signin" method = "post">
    <label for="username">Username</label>
    <input type="text" name="username"><br>
    <label for="password">Password</label>
    <input type="text" name="password">
    <div class="signin-form">
      <button class="btn" type ="submit" id="login">Login</button>
      <button class="btn">Enter as Guest</button>
    </div>
  </form>
</div>
