<!DOCTYPE html>
<html>
<% include head-tag %>
<body>
  <div class = "app">
    <div class='stat-component'>
      <%include _navbar%>
      <div class='stat-content'>
        <div class='row'>
          <div id='general-number-graph'></div>
        </div>
      </div>
      <%include _footer%>
    </div>
  </div>
</div>
<script type="text/javascript" src="../public/javascripts/graphs/circle.js" charset="utf-8"></script>
<script type="text/javascript" src="./build/js/bundle.js" charset="utf-8"></script>
</body>
</html>
