/*global fix*/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: none;
}

/*helper*/
.clear-padding {
  padding: 0 !important;
}
.margin-auto {
  margin: 0 auto;
}
/*landing page*/
#main-logo {
  text-align: center;
  margin-bottom: 2rem;
}
.centered {
  text-align: center;
}
.vc-child{
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  margin: 0 auto;
}
.signin-form {
  margin-top: 2rem;
}
#login-form{

}

/*navbar*/
.left-nav {
  height: 100%;
  background-color: #300018;
  color: white;
}
.left-nav>ul{
  list-style-type: none;
  padding: 0;
}

/*main*/
.pragiew {
  margin: 1.5em 0;
}
.excerp-content{
  background-color: #D35A95;
  text-align: center;
}
