.main-page {
  background-color: blue;
}

/*landing page*/
#main-logo {
  text-align: center;
  margin-bottom: 2rem;
}
.centered {
  text-align: center;
}
.vc-child{
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  margin: 0 auto;
}
