/*global fix*/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
  outline:0px !important;
  -webkit-appearance:none;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: none;
}
#graph{
  height:100%;
  width: 100%;
}
body,html{
  height:100%;
  width: 100%;
}
#particle{
  position: absolute;
  z-index: 0;
}
/*helper*/
.clear-padding {
  padding: 0 !important;
}
.margin-auto {
  margin: 0 auto;
}
.clear-margin {
  margin: 0 !important;
}
.padding-vertical{
  padding: 2rem 0 2rem 0 !important;
}
/*landing page*/
#main-logo {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}
.centered {
  text-align: center;
}
.lander-component{
  z-index: 1;
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  margin: 0 auto;
}
.signin-form {
  margin-top: 2rem;
}
#login-form{

}

/*navbar*/
.left-nav {
  height: 100%;
  background-color: #300018;
  color: white;
}
.left-nav>ul{
  list-style-type: none;
  padding: 0;
}

/*main*/
.pragiew {
  margin: 1.5em 0;
}
.grey-bg {
  background-color: #565656;
}
.transparent-grey-bg {
  background-color: #747474;
  opacity: 0.8;
}
.excerp-content{
  background-color: #D35A95;
  text-align: center;
  padding-top:10px;
  padding-bottom: 20px;
}
.white-text {
  color: white;
}
.wrap {
  margin:auto;
  position:relative;
}
.wrap img {
  width:100%;
  height:auto;
}
.caption {
  position:absolute;
  top:5px;
  left:0;
  right:0;
  bottom:10px;
  overflow:auto;
}
.caption-inner {
  display:table;
  width:100%;
  height:100%;
}
.caption-content {
  display:table-cell;
  vertical-align:middle;
  padding-left: 5%;
}
